// Current Colours
// $tan: #F7F0E9
$green: #2B3325
$red: #FF2121
$off-white: #F4F4F4
$white: #ffffff
$black: #000000

// Scheme
$primary: $green
$primary-invert: $off-white
$secondary: $off-white
$secondary-invert: $black
$accent: $green

.primary
    background-color: $primary
    color: $primary-invert

.secondary
    background-color: $secondary
    color: $secondary-invert

.accent
    color: $accent
