// Miscellaneous Typography

@import url("https://use.typekit.net/pou8ovy.css")
@import breakpoints
@import colours
@import jaydenStrap

// Font Sizes
$primaryTitle: 4.5em
$secondaryTitle: 2em
$sizeThree: 1.4em


h1
    font-size: $primaryTitle
    font-family: essonnes-headline,serif
    font-weight: 400
    font-style: normal
    line-height: 120%
    color: inherit
    margin-bottom: 40px

h2
  font-size: $secondaryTitle
  font-weight: bold
  color: inherit
  line-height: 150%

h3
  font-size: 2em
  font-weight: bold
  color: inherit
  line-height: 150%

h4 
  font-size: 1.1em
  font-weight: 700
  color: $black
  line-height: 150%

h5 
  font-size: 1.1em
  font-weight: 700
  color: $black
  line-height: 200%

a 
  color: inherit
  font-size: 1.2em
  line-height: 150%
  text-decoration: none


// Lists
li
    text-decoration: none
    list-style: none
    font-size: $sizeThree
    font-weight: 300
    transition-duration: 0.8s
    line-height: 150%

li:hover
    // color: $accent
    cursor: pointer
    margin-top: 15px
    margin-bottom: 15px

p 
    line-height: 150%