@import url(https://use.typekit.net/pou8ovy.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.header-link {
  font-size: 1.4em;
  font-weight: 400;
  color: inherit;
  line-height: 150%;
  margin-bottom: 5vh;
  display: block;
  font-style: italic; }

h1 {
  font-size: 2.5em;
  font-family: nunito-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  color: inherit;
  margin-bottom: 20px; }

h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: inherit;
  line-height: 150%;
  margin-bottom: 7.5vh; }

h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: inherit;
  line-height: 150%; }

h4 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 150%; }

h5 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 200%; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: inherit;
  line-height: 150%; }

a {
  color: inherit;
  font-size: 1.2em;
  line-height: 150%;
  text-decoration: none; }

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.4em;
  font-weight: 300;
  transition-duration: 0.8s;
  line-height: 150%; }

li:hover {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px; }

p {
  line-height: 165%; }

.splitHeader {
  width: 100%;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center; }
  .splitHeader .left {
    background-color: #1F725C;
    padding-left: 8.5%;
    width: calc(83% / 8 * 4);
    height: 75vh;
    color: #f4f4f4;
    float: left;
    display: block;
    position: relative;
    z-index: 0; }
    .splitHeader .left .contents {
      margin-top: 35vh;
      z-index: 920; }
  .splitHeader .right {
    background-color: #1F725C;
    padding-right: 8.5%;
    width: calc(83% / 8 * 4);
    height: 75vh;
    color: #f4f4f4;
    float: right;
    transition: 0.8s;
    z-index: 1050;
    display: block;
    position: relative;
    overflow: hidden; }
    .splitHeader .right .contents {
      margin-top: 35vh;
      position: relative; }
  .splitHeader .full {
    background-color: #1F725C;
    padding-left: 8.5%;
    padding-right: 8.5%;
    width: calc(83% / 8 * 8);
    height: 80vh;
    color: #ffffff;
    float: left;
    transition: 0.8s;
    z-index: 900;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: -15vh; }
    .splitHeader .full .contents {
      margin-top: 30vh;
      position: relative; }
  .splitHeader .bottom-bar {
    width: calc(83% / 8 * 8);
    height: calc(16vh);
    background: #ffffff;
    display: block;
    position: relative;
    float: left;
    margin-top: -8vh;
    margin-left: 8.5%;
    z-index: 2000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    .splitHeader .bottom-bar .right-button {
      width: calc(83% / 8 * 2);
      float: left;
      padding-top: calc(8vh - 0.6em);
      padding-bottom: calc(8vh - 0.6em);
      font-size: 1.2em;
      text-align: center;
      color: #B9E80F;
      background-color: #000; }

@media screen and (max-width: 700px) {
  .splitHeader .left {
    width: calc(83% / 8 * 8);
    position: relative;
    padding-right: 8.5%;
    height: 100vh; }
  .splitHeader .right {
    width: calc(83% / 8 * 8);
    padding-left: 8.5%;
    height: 50vh;
    display: none; }
  .splitHeader .right:hover {
    width: calc(83% / 8 * 8); } }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.header-link {
  font-size: 1.4em;
  font-weight: 400;
  color: inherit;
  line-height: 150%;
  margin-bottom: 5vh;
  display: block;
  font-style: italic; }

h1 {
  font-size: 2.5em;
  font-family: nunito-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  color: inherit;
  margin-bottom: 20px; }

h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: inherit;
  line-height: 150%;
  margin-bottom: 7.5vh; }

h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: inherit;
  line-height: 150%; }

h4 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 150%; }

h5 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 200%; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: inherit;
  line-height: 150%; }

a {
  color: inherit;
  font-size: 1.2em;
  line-height: 150%;
  text-decoration: none; }

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.4em;
  font-weight: 300;
  transition-duration: 0.8s;
  line-height: 150%; }

li:hover {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px; }

p {
  line-height: 165%; }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.primary {
  background-color: #1F725C;
  color: #f4f4f4; }

.secondary {
  background-color: #ffffff;
  color: #1F725C; }

.tertiary {
  background-color: #1F725C;
  color: #ffffff; }

.accent {
  color: #B9E80F; }

.accent-back {
  color: #ffffff;
  background-color: #B9E80F; }

.header-link {
  font-size: 1.4em;
  font-weight: 400;
  color: inherit;
  line-height: 150%;
  margin-bottom: 5vh;
  display: block;
  font-style: italic; }

h1 {
  font-size: 2.5em;
  font-family: nunito-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  color: inherit;
  margin-bottom: 20px; }

h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: inherit;
  line-height: 150%;
  margin-bottom: 7.5vh; }

h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: inherit;
  line-height: 150%; }

h4 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 150%; }

h5 {
  font-size: 1.1em;
  font-weight: 700;
  color: inherit;
  line-height: 200%; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  color: inherit;
  line-height: 150%; }

a {
  color: inherit;
  font-size: 1.2em;
  line-height: 150%;
  text-decoration: none; }

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.4em;
  font-weight: 300;
  transition-duration: 0.8s;
  line-height: 150%; }

li:hover {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px; }

p {
  line-height: 165%; }

.article {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 8.5%;
  padding-right: 8.5%;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 0;
  align-content: center;
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .article .left {
    width: calc(83% / 8 * 2);
    float: left;
    display: inline-block;
    margin-left: calc(83% / 8);
    margin-bottom: 60px; }
    .article .left a {
      font-size: 0.9em;
      color: #f4f4f4;
      cursor: pointer;
      line-height: 1.5em; }
    .article .left img {
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      position: relative;
      display: inline-block;
      overflow: hidden;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
  .article .right {
    width: calc(83% / 8 * 3);
    margin-left: calc(83% / 8);
    float: left;
    display: inline-block;
    font-weight: 200;
    overflow: hidden;
    -webkit-column-count: 1;
            column-count: 1; }
  .article .full-portfolio {
    width: calc(83% / 8 * 6);
    padding-left: calc(83% / 8);
    padding-right: calc(83% / 8);
    float: left;
    display: inline-block;
    font-weight: 200;
    overflow: hidden; }
  .article .thin-article {
    width: calc(83% / 8 * 4);
    padding-left: calc(83% / 8 * 2);
    padding-right: calc(83% / 8 * 2);
    float: left;
    display: inline-block;
    font-weight: 200;
    overflow: hidden;
    text-align: justify; }
  .article .thin-article-left {
    width: calc(83% / 8 * 4);
    padding-left: calc(83% / 8 * 2);
    padding-right: calc(83% / 8 * 2);
    float: left;
    display: inline-block;
    font-weight: 200;
    overflow: hidden;
    text-align: left; }
  .article .split {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 50px;
            column-gap: 50px; }
  .article p {
    color: inherit;
    font-weight: 300;
    font-size: 15px;
    line-height: 165%;
    -webkit-column-count: 1;
            column-count: 1; }
    .article p img {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 700px) {
    .article .left {
      width: calc(83% / 8 * 8);
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 1em;
      margin-left: 0; }
    .article .right {
      width: calc(83% / 8 * 8);
      padding-right: 0;
      padding-left: 0;
      padding-top: 1em;
      margin-left: 0; }
    .article .half-left {
      width: calc(83% / 8 * 8);
      padding-right: 0;
      padding-left: 0;
      padding-top: 1em; }
    .article .half-right {
      width: calc(83% / 8 * 8);
      padding-right: 0;
      padding-left: 0;
      padding-top: 1em; }
    .article .full-portfolio {
      width: calc(83% / 8 * 6);
      padding-left: calc(83% / 8);
      padding-right: calc(83% / 8);
      float: left;
      display: inline-block;
      font-weight: 200; } }

.big-padding {
  padding-top: 30vh;
  padding-bottom: 30vh;
  overflow: hidden; }

.med-padding {
  padding-top: 20vh;
  padding-bottom: 20vh;
  overflow: hidden; }

.top-padding {
  margin-top: 7.5vh; }

.half-top-padding {
  margin-top: 4vh; }

@media screen and (max-width: 700px) {
  .big-padding {
    padding-top: 20vh;
    padding-bottom: 20vh; } }

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .article {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%; } }

@media screen and (min-width: 3000px) {
  .article {
    width: 35%;
    padding-left: 32.5%;
    padding-right: 32.5%; } }

iframe {
  width: 100%;
  align-self: center;
  align-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  height: 30vw;
  min-height: 400px; }

span {
  font-size: 1.2em;
  font-weight: 300;
  color: inherit; }

* {
  margin: 0;
  background-size: cover;
  background-position: center; }

.accent {
  color: #B9E80F; }

body {
  padding: 0 auto;
  margin: 0 auto;
  font-family: nunito-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden; }

html,
body {
  overflow-x: hidden; }

div {
  overflow-y: hidden;
  overflow-x: hidden; }

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center; }
  .content .taglist li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0; }

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.margin-top-0 {
  margin-top: 0 !important; }

.bm-cross-button {
  visibility: visible;
  position: absolute;
  right: 35px;
  top: 35px; }

span.bm-cross {
  height: 35px;
  width: 5px; }

header {
  width: 100vw;
  background: #1F725C;
  color: #ffffff;
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
  position: relative;
  display: inline-block;
  z-index: 0;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.bannerTitle {
  font-size: 2em;
  color: inherit;
  width: 55%;
  margin-left: 22.5vw;
  padding-top: 37.5vh;
  padding-bottom: 37.5vh;
  text-align: center;
  font-weight: 700; }

.glaze-smaller {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 2em; }

.half-bannerTitle {
  font-size: 2em;
  color: inherit;
  width: 55%;
  margin-left: 22.5vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  font-weight: 700; }

.slim-strip {
  font-size: 2em;
  color: inherit;
  width: 75%;
  margin-left: 10vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: left;
  font-weight: bold; }
  .slim-strip input {
    background: transparent;
    border: 0px solid white;
    border-bottom: 2px solid #B9E80F;
    font-size: 0.8em;
    width: 70%;
    text-align: left;
    color: #ffffff;
    margin-left: 15%;
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em; }
  .slim-strip button {
    background: transparent;
    border: 0px solid white;
    font-size: 0.6em;
    color: #ffffff;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-weight: 600;
    padding: 0;
    cursor: pointer; }

.listing {
  color: #ffffff;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  display: inline-block;
  width: calc(83% / 8 * 3);
  padding-left: 0;
  padding-right: 0;
  margin-left: calc(83% / 8);
  margin-bottom: 40px;
  overflow: hidden; }

.glaze {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: inherit;
  color: #fff;
  display: relative;
  width: 100%;
  padding-left: calc(83% / 8 * 2);
  padding-right: calc(83% / 8 * 2);
  transition-duration: 0.8s; }

.no-margin-bottom {
  margin-bottom: 0; }

@media screen and (min-width: 1000px) {
  .glaze:hover {
    background-color: rgba(0, 0, 0, 0.1); } }

@media screen and (max-width: 700px) {
  .glaze {
    padding-top: 75px;
    padding-bottom: 75px; } }

.secondHalf {
  background-color: #ffffff;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: -4em; }

.full {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  position: relative; }

.floatingTags {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 100px;
  background: #ffffff;
  position: relative;
  z-index: 0;
  align-content: left;
  color: #1F725C;
  z-index: 1000;
  font-size: 1.2em;
  text-align: left;
  overflow-x: scroll; }
  .floatingTags a {
    color: #B9E80F;
    font-size: 1.2em;
    text-decoration: none; }

.fixed {
  position: fixed; }

.navbar {
  z-index: 1050;
  position: absolute;
  top: 0;
  background: transparent;
  color: #000; }
  .navbar .logo {
    margin-left: 70px;
    margin-top: 35px;
    z-index: 1100;
    position: fixed; }

.navigation-links {
  right: 0;
  position: fixed;
  text-align: right;
  margin-top: 35px;
  margin-right: 70px;
  z-index: 1100; }
  .navigation-links .navigation-item {
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    line-height: 150%; }

.split {
  color: inherit;
  width: 100%;
  text-align: left; }
  .split .left {
    float: left;
    width: 50%;
    padding: 0;
    padding-top: 40vh;
    padding-bottom: 40vh;
    display: inline-block;
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
    font-weight: 600;
    text-align: center;
    background-color: #1F725C; }
  @media screen and (max-width: 700px) {
    .split .left {
      float: left;
      width: 100%;
      padding: 0;
      padding-top: 10vh;
      padding-bottom: 10vh;
      display: inline-block;
      background-size: cover;
      background-position: center;
      color: #f4f4f4;
      font-weight: 600; } }
  .split .left-fifty {
    float: left;
    width: 50%;
    display: inline-block;
    font-weight: 400; }
  .split p {
    margin-left: 10%;
    margin-right: 10%; }
  .split .left:before {
    background-color: rgba(0, 0, 0, 0.5); }
  .split .right {
    float: right;
    width: 50%;
    padding: 0;
    padding-top: 40vh;
    padding-bottom: 40vh;
    display: inline-block;
    text-align: center;
    background-position: center;
    background-color: #1F725C;
    color: #f4f4f4; }
  @media screen and (max-width: 700px) {
    .split .right {
      float: right;
      width: 100%;
      padding: 0;
      padding-top: 10vh;
      padding-bottom: 10vh;
      display: inline-block; } }
  .split .full {
    float: left;
    width: 100%;
    padding: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: inline-block;
    background-size: cover; }
    .split .full p {
      margin-left: 5%;
      margin-right: 5%; }
  @media screen and (max-width: 700px) {
    .split {
      float: left;
      width: 100%;
      padding: 0;
      padding-top: 5vh;
      padding-bottom: 5vh;
      display: inline-block;
      background-size: cover;
      font-weight: 600;
      text-align: center; }
      .split .deslab-logo {
        width: 30%;
        margin-top: 5vh;
        margin-left: 35%;
        bottom: 0;
        float: left; }
      .split .left-fifty {
        float: left;
        width: 100%;
        display: inline-block;
        font-weight: 400; } }

footer {
  font-size: 1.3em;
  color: inherit;
  width: 100%; }
  footer .bottom-right {
    position: absolute; }
  footer .deslab-logo {
    width: 10%;
    margin-right: 0%;
    float: right;
    bottom: 0; }

/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #1F725C;
  transition: color 0.5s; }

/* Change color on hover */
.bm-item:hover {
  color: #1F725C; }

/* The rest copied directly from react-burger-menu docs */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  z-index: 1300; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed;
  z-index: 0;
  opacity: 0; }

/* Color/shape of close button cross */
.bm-cross {
  background: #fff; }

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  color: #1F725C;
  z-index: 1200;
  margin: 0;
  top: 0px;
  right: 100%;
  display: block;
  height: calc(100vh);
  overflow: hidden;
  transition-duration: 1s; }
  .bm-menu a {
    display: block; }
  .bm-menu a:hover {
    color: #1F725C; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #1F725C; }

.bm-menu-wrap {
  height: calc(70vh + 2em);
  z-index: 1000; }

.menuContents {
  font-size: 1.75em;
  color: inherit;
  padding-top: 15vh;
  padding-bottom: 15vh;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.mask {
  overflow: hidden; }

.montage {
  width: 200vw;
  padding: 0;
  top: -10%;
  left: -80vw;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  z-index: 0;
  color: #ffffff;
  text-align: left;
  padding-top: 0px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg); }

.montageDull {
  width: 100vw;
  height: 100vh;
  min-height: 335px;
  padding: 0;
  left: 0vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  z-index: 50;
  color: #ffffff;
  text-align: left;
  padding-top: 0;
  overflow: hidden;
  cursor: pointer; }

.montageDesc {
  text-align: center;
  position: relative;
  margin-left: 0vw;
  top: 50%;
  display: inline-block;
  margin-right: 0vw;
  align-content: center;
  width: 100vw;
  overflow: hidden; }

.montage div {
  display: block;
  width: 200vw;
  margin-left: 20px;
  margin-right: 20px; }

.montage img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  padding: 10px;
  margin: 20px;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }

